<div id="RCP1">
<h2>The searched Result</h2>

<ul class = "unordered-list" >
    <li><label class = "information">Recipe ID : </label>{{recipe.recipeID}}</li>
    <li><label class = "information">Recipe Title : </label>{{recipe.recipeTitle}}</li>
    <li><label class = "information">Recipe Category : </label>{{recipe.recipeCategory}}</li>
    <li><label class = "information">User Created : </label>{{recipe.userName}}</li>
    <li><label class = "information">Recipe Description : </label>{{recipe.recipeDescrip}}</li>
    <li><label class = "information">Recipe Methodnpm : </label>{{recipe.recipeMethod}}</li>
    {{comment}}
    
</ul>
</div>